<html>

<head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <script src="chrome-extension://mooikfkahbdckldjjndioackbalphokd/assets/prompt.js"></script>
</head>

<body>
    <header class="w3-container w3-teal">
        <h1>Login</h1>
    </header>

    <div class="w3-container w3-half w3-margin-top">
        <p><%=msg%></p>
        <form action="/processlogin" method="post" class="w3-container w3-card-4">
            <p>
                <input name="name" class="w3-input" type="text" style="width:90%" required="">
                <label class="w3-label w3-validate">Name</label></p>
            <p>
                <input name="password" class="w3-input" type="password" style="width:90%" required="">
                <label class="w3-label w3-validate">Password</label></p>
            <p>
                <button class="w3-btn w3-section w3-teal w3-ripple"> Log in </button></p>
        </form>
    </div>
</body>

</html>