<html>

<head>
    <title>Delete</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
</head>

<body>
    <div class="w3-container">
        <header class="w3-container w3-teal">
            <h1>Info</h1>
        </header>

        <label class="w3-label w3-validate">Delete was successful</label>
        <br>
        <a href="/read">
            <button class="w3-btn w3-section w3-teal w3-ripple">home</button>
        </a>
    </div>
</body>

</html>